*, ::before, ::after{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}



body{
    
    background-image: url('/static/image/background.webp');
    color:grey;
    
}


.main{
    background-color:#f1b48a ;
    width:950px;
    height:750px;
    margin:20px auto;
    display:flex;
    border-radius: 10px;
    box-shadow: 10px 10px 5px -3px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px -3px rgba(0,0,0,0.75);
    
}


.arrow-left{
    position: relative;
    top:20px;
    left:20px;
    filter:invert(69%) sepia(74%) saturate(5874%) hue-rotate(162deg) brightness(96%) contrast(101%);
    
}

.card{
    width:700px;
    background: rgb(91,91,98);
    background: linear-gradient(25deg, rgba(91,91,98,1) 0%, rgba(7,98,128,1) 100%);
    margin: auto;
    height: 630px;
    border-radius: 10px;
    border: solid 5px black
    
}

.card__title{
    text-align: center;
    margin-top: 30px;
   
    /* padding:40px; */
}

.card__description{
    text-align: center;
    margin-top: 20px;
}

.button-container{
    margin-top: 20px;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 120px;
    flex-wrap: wrap;
    
}

.form__button{
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    border-radius: 10px;
    transition:0.4s
}

.form__button:hover{
    background-color: #f1b48a; 
    color: black;
}

.button{
    height:75px;
    width:200px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    border-radius: 10px;
    transition-duration: 0.4s;
    
}

.button:hover {
    background-color: #f1b48a; 
    color: black;
}
.card__button{
   
    height:75px;
    width:200px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    border-radius: 10px;
    transition-duration: 0.4s;
          
}

.card__button:hover {
    background-color: #f1b48a; 
    color: black;
}

.form-tanques__container{
    
    width:100%;
    display:flex;
    justify-content: space-evenly;
    margin: 40px auto;
}

.form-tanques{
    display:flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    
}

/* .form-tanques__container :nth-child(3){
    margin-left: 10px;
   
    
}

.form-tanques__container :nth-child(4){
    margin-left: 11px;
   position:relative;
   left:20px;
    
} */


.form-tanques__input{
    width:200px;
    margin: 10px;
          
}

.form-tanques__label{
    position:relative;
    right: 130px;
    top: 28px;
}


/* .no-white{
    white-space: no-wrap;
    display:inline-block
} */

.form__button-continue, .form__button-stop{
    height:70px;
    width:200px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    border-radius: 10px;
    transition-duration: 0.4s;
    
}
.form__button-continue:hover, .form__button-stop:hover {
    background-color: #f1b48a; 
    color: black;
}

.form__button-stop{
    position:relative;
    top:0px;
    right:150px;
    width: 250px;
    
}

.form__button-continue{
    position:relative;
    top:70px;
    left:150px;
    width:250px;
}

.form__button--final{
    margin-top: 50px;
    width: 150px;
    height: 75px;
    
}


.form-tuberia__container{
    
    width:100%;
    display:flex;
    justify-content: space-evenly;
    margin: 40px auto;
}

.form-tuberia{
    display:flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    
}

.form-tuberia__input{
    width:200px;
    margin: 10px;
      
}

.form-tuberias__label{
    position: relative;
    right:150px;
    top:28px;
}

.result__container{
    text-align: center;
    margin-top: 30px;
}

.result__tanque-list{
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}


.result{
    display: block;
    margin-top: 10px;
 
}

.result__volumen-list{
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

.result__tuberias{
    margin-top: 30px;
}

.result__extra{
    margin-top: 50px;
}