*, ::before, ::after{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}



body{
    
    background-image: url('/static/image/background.png');
    background-size: 563px 277px;
    color:white;
    font-family:'Open Sans', sans-serif;
    letter-spacing: 0.3px;
    
}


.main{
    background-color:#f1b48a ;
    width:950px;
    height:730px;
    margin:10px auto;
    display:flex;
    border-radius: 10px;
    box-shadow: 10px 10px 5px -3px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px -3px rgba(0,0,0,0.75);
    
}


.arrow-left{
    position: relative;
    top:20px;
    left:20px;
    filter: invert(48%) sepia(4%) saturate(26%) hue-rotate(346deg) brightness(96%) contrast(97%);
    
}

.card{
    width:700px;
    background: rgb(91,91,98);
    background: linear-gradient(25deg, rgba(91,91,98,1) 0%, rgba(7,98,128,1) 100%);
    margin: auto;
    height: 640px;
    border-radius: 10px;
    border: solid 5px black
    
}

.card__title{
    text-align: center;
    margin-top: 0px;
    
    text-shadow: 1px 1px 2px #f1b48a, 0 0 1em rgba(7,98,128,1), 0 0 0.2em #f1b48a;
    
   
    /* padding:40px; */
}

.card__description{
    text-align: center;
    margin-top: 40px;
}

.card__description--result{
    text-align: center;
    margin-top: 20px;
}

.button-container{
    margin-top: 170px;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}

.form__button{
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    border-radius: 10px;
    transition:0.4s;
    font-size: 1.1rem;
    font-weight: bold;
    border: 3px solid black;
}

.form__button:hover{
    background-color: #f1b48a; 
    color: black;
}

.button{
    height:75px;
    width:200px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    border-radius: 10px;
    transition-duration: 0.4s;
    font-size: 1.2rem;
    font-weight: bold;
    
    
}

.button:hover {
    background-color: #f1b48a; 
    color: black;
}
.card__button{
   
    height:75px;
    width:200px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    border-radius: 10px;
    transition-duration: 0.4s;
    font-size: 1.05rem;
    font-weight: bold;
    border: 3px solid black;
          
}

.card__button:hover {
    background-color: #f1b48a; 
    color: black;
}

.form-tanques__container{
    
    width:100%;
    display:flex;
    justify-content: space-evenly;
    margin: 40px auto;
}

.form-tanques{
    display:flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    
}

/* .form-tanques__container :nth-child(3){
    margin-left: 10px;
   
    
}

.form-tanques__container :nth-child(4){
    margin-left: 11px;
   position:relative;
   left:20px;
    
} */


.form-tanques__input{
    width:200px;
    margin: 10px;
          
}

.form-tanques__label{
    position:relative;
    right: 160px;
    top: 28px;
}


/* .no-white{
    white-space: no-wrap;
    display:inline-block
} */

.form__button-continue, .form__button-stop{
    height:70px;
    width:220px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    border-radius: 10px;
    font-size: 0.9rem;
    transition-duration: 0.4s;
    font-weight: bold;
    
}
.form__button-continue:hover, .form__button-stop:hover {
    background-color: #f1b48a; 
    color: black;
}

.form__button-stop{
    position:relative;
    top:0px;
    right:150px;
    width: 270px;
    
}

.form__button-continue{
    position:relative;
    top:70px;
    left:150px;
    width:270px;
}

.form__button--final{
    margin-top: 60px;
    width: 150px;
    height: 75px;
    
}

.form__button--metodo2{
    margin-top: 50px;
    width: 150px;
    height: 75px;
}

.form__button--metodo3{
    margin-top: 20px;
    width: 150px;
    height: 75px;
}


.form-tuberia__container{
    
    width:100%;
    display:flex;
    justify-content: space-evenly;
    margin: 40px auto;
}

.form-metodo3__container{
    width:100%;
    display:flex;
    justify-content: space-evenly;
    margin: 20px auto;
}

.form-tuberia{
    display:flex;
    flex-direction: column;
    text-align: right;
    align-items: center;
    
}

.form-tuberia__input{
    width:400px;
    margin: 10px;
      
}

.form-tuberias__label{
    position: relative;
    right:110px;
    top:28px;
}

.result__container{
    text-align: center;
    margin-top: 30px;
}

.result__tanque-list{
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}


.result{
    display: block;
    margin-top: 10px;
    font-weight: bold;
    font-size: 1.5rem;
    
 
}

.test{
    display: inline;
}

.result--text{
    text-decoration: underline;
   
 
}

.result__volumen-list{
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

.result__tuberias{
    margin-top: 50px;
}

.result__extra{
    margin-top: 50px;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 70px;
    margin-top: 35px;
}

.grid-container--metodo2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 70px;
    margin-top: 100px;
}

.grid-container--metodo3{
    display: grid;
    column-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 35px;
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
}

.home__text-title{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}

.home__text-description{
    width: 80%;
    text-align: justify;
    margin: auto;
    position:relative;
    top:100px;
}

.version{
    position: relative;
    display: inline;
    top: 280px;
    left: -100px;
    color: black;
    font-weight: bold;
}

.autor{
    position: relative;
    display: inline;
    top: 280px;
    left: 460px;
    color: black;
    font-weight: bold;
}

.home__button{
    position: relative;
    top:30%;
    left:40% ;
}

.logo-udo{
    position:relative;
    display:inline ;
    width:100px ;
    height:100px;
    bottom:90px;
    left:15px;

}

.img-div{
    width:0px;
    height: 0px;
}

.restart__title{
    text-align: center;
    margin-top: 52.35px;
}

.restart__description{
    text-align: center;
    margin-top: 80px;
}

.restar__button-container{
    margin-top: 130px;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card__graph{
    width:700px;
    background: rgb(91,91,98);
    background: linear-gradient(25deg, rgba(91,91,98,1) 0%, rgba(7,98,128,1) 100%);
    margin: auto;
    padding-bottom: 10px;
    /* height: 630px; */
    border-radius: 10px;
    border: solid 5px black
}

.main__graph{
    background-color:#f1b48a ;
    width:950px;
    /* height:730px; */
    padding-top: 20px;
    padding-bottom: 20px;
    margin:10px auto;
    display:flex;
    border-radius: 10px;
    box-shadow: 10px 10px 5px -3px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px -3px rgba(0,0,0,0.75);
}

.link-result-forward{
    position: relative;
    left:560px;
    bottom: 100px;
}

.link-result-backward{
    position: relative;
    bottom: 60px;
    left:230px;
    
    
}

.link-result-forward, .link-result-backward{
    text-decoration: none;
    color:white;
    border: 2.5px solid black;
    padding:10px;
    background-color: #787878;
    border-radius: 10px;
}

.link-restart{
    position: relative;
    top: 25px;
    left: 10px;
    text-decoration: none;
    color:white;
    border: 2.5px solid black;
    padding:10px;
    background-color: #787878;
    border-radius: 10px;
}

.result__volumen-list li{
    width:200px;
}