<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>TESIS BRAIAN</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'styles.css' %}">
    </head>
    <body>
        <div class="main">
             <div class="card">
                <a href="{% url 'restart' %}">
                    <img class='arrow-left' src="/static/image/arrow-left.svg">
                </a>
                <h1 class="card__title">CALING</h1>        
                <h2 class="card__description--result">
                    DATOS METODO 2
                    
                </h2>
                <div class="form-metodo3__container">
                    
                    <form class="form-tuberia" method="post" name="form_tuberias">
                        {% csrf_token %}

                        <label for="di" class="form-tuberias__label">Grado Azimud</label>
                        <div class='form-tuberia__input'>
                        {{form.grado_azimud}}
                        </div>
                        <!-- <input class='form-tanques__input' type="text" name="weight" >ft -->
                        
                        
                        <label for="di" class="form-tuberias__label">Distancia Azimud</label>
                        <div class='form-tuberia__input'>
                        {{form.distancia_azimud}}
                        </div>
                        <!-- <input class='form-tanques__input' type="text" name="weight" >ft -->
                        

                        <label for="di" class="form-tuberias__label">Target TVD</label>
                        <div class='form-tuberia__input'>
                        {{form.target_tvd}}
                        </div>
                        <!-- <input class='form-tanques__input' type="text" name="weight" >ft -->
                        

                        
                        <label for="de" class="form-tuberias__label">KOP</label>
                        <div class='form-tuberia__input'>
                        {{form.kop}}
                        </div>
                        <!-- <input class='form-tanques__input' type="text" name="height" >ft -->
                        

                       
                        <label for="li" class="form-tuberias__label">Build Radius1</label>
                        <div class='form-tuberia__input'>
                        {{form.build_radius1}}
                        </div>

                        <label for="li" class="form-tuberias__label">Build Radius2</label>
                        <div class='form-tuberia__input'>
                        {{form.build_radius2}}
                        </div>

                                           
                        <button type="submit" class="form__button form__button--metodo3 ">Agregar y continuar</button>

                    </form>
                    
                    
                    

                </div>
             </div>
        </div>
    </body>
</html>