<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <script src="{% static 'scripts.js' %}"></script>   
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>TESIS BRAIAN</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'styles.css' %}">
    </head>
    <body>
        <div class="main">
             <div class="card">
                <a class="link-restart" href="{% url 'restart' %}">
                    Reiniciar  
                </a>
                <h1 class="card__title">CALDRILLING</h1>        
                <h2 class="card__description">
                    Ingrese datos del Tanque #3
                </h2>
                <div class="form-tanques__container">
                    
                    <form id='form__submit' class="form-tanques" method="post" name="form_tanques">
                        {% csrf_token %}
                        
                        <label for="weight" class="form-tanques__label">Ancho (pies)</label>
                        <div class='form-tanques__input'>
                        {{form.weight}}
                        </div>
                        <!-- <input class='form-tanques__input' type="text" name="weight" >ft -->
                        

                        
                        <label for="height" class="form-tanques__label">Alto (pies)</label>
                        <div class='form-tanques__input'>
                        {{form.height}}
                        </div>
                        <!-- <input class='form-tanques__input' type="text" name="height" >ft -->
                        

                       
                        <label for="long" class="form-tanques__label">Largo (pies)</label>
                        <div class='form-tanques__input'>
                        {{form.long}}
                        </div>
                        <!-- <input class='form-tanques__input ' type="text" name="long">ft -->
                       

                        
                        
                        <label for="mud" class="form-tanques__label">Nivel de lodo (pies)</label>
                        <div class='form-tanques__input'>
                        {{form.mud}}
                        </div>
                        <!-- <input class='form-tanques__input' type="text" name="mud">lbm/gal -->
                        
                      
                        <!-- <a href="http://127.0.0.1:8000/metodos/" onclick="document.getElementById('form__submit').submit();">test</a> -->
                                   
                        <button type="submit" class="form__button form__button--final ">Agregar y continuar</button>

                    </form>
                    
                   
                    

                </div>
             </div>
        </div>
        
    </body>
</html>