<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>TESIS BRAIAN</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    </head>
    <body>
        <div class="main">
             <div class="card">
                <div class="home__text">
                <h1 class="home__text-title">Bienvenido a CALDRILLING</h1>
                <div class="img-div">
                <img class="logo-udo" alt="Archivo:Logo UDO.svg" src="/static/image/logo_UDO.png" decoding="async" width="401" height="401" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/4/41/Logo_UDO.svg/602px-Logo_UDO.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/4/41/Logo_UDO.svg/802px-Logo_UDO.svg.png 2x" data-file-width="401" data-file-height="401">        
                </div>
                <h3 class="home__text-description">CALDRILLING es un programa que se encarga de facilitar los cálculos relacionados a volumetría, pérdidas de presión y trayectoria de pozos. Todo esto lo logra en cortos periodos de tiempo, con una interfaz amigable y necesitando solo de una serie de datos ingresados por el usuario. </h3>
                </div>
                <div class="home__button">
                <a href="{%url 'metodos'%}"><button type="button" class="form__button form__button--final ">COMENZAR</button></a>
                </div>
                <div class="version">Version: 0.01</div>
                <div class="autor">Realizado por: Braian Márquez</div>
            </div>


        </div>
    </body>
</html>