<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>TESIS BRAIAN</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    </head>
    <body>
        <div class="main">
             <div class="card">
                <a href="{% url 'restart' %}">
                    <img class='arrow-left' src="/static/image/arrow-left.svg">
                </a>
                <h1 class="restart__title">CALDRILLING</h1>        
                <h2 class="card__description">Resultados de Cálculos de Presión</h2>
                <div class="result__container">
                    <h2>PERDIDAS DE PRESIÓN</h2>
                    <div class="grid-container">
                            <div><span class="result--text">SARTA DE PERFORACIÓN:</span> <span class="result">{{PERDIDA_PRESION_P}}</span></div>
                            <div><span class="result--text">ANULAR:</span> <span class="result">{{PERDIDA_PRESION}}</span></div>
                            <div><span class="result--text">POZO:</span><span class="result"> {{PERDIDAS_TOTALES}}</span></div>
                            <div><span class="result--text">ECD:</span><span class="result">{{ECD}}</span></div>
                    </div>                           
                    
                </div>
             </div>
        </div>
    </body>
</html>