<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>TESIS BRAIAN</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    </head>
    <body>
        <div class="main">
             <div class="card">
                <a class="link-restart" href="{% url 'restart' %}">
                    Reiniciar  
                </a>
                <h1 class="card__title">CALDRILLING</h1>        
                <h2 class="card__description">Resultados de Trayectoria Tipo Horizontal</h2>
                
                    <a class='link-result-forward' href="{%url 'resultados-31-graph'%}">Ver Grafica</a>
                    
                    <div class="result__container">
                    <div class="grid-container">
                            <div><span class="result--text">TASA DE AUMENTO 1 (grados)</span> <span class="result">{{BUILDUP_RATE_1}}</span></div>
                            <div><span class="result--text">TASA DE AUMENTO 2 (grados)</span> <span class="result">{{BUILDUP_RATE_2}}</span></div>
                            <div><span class="result--text">ANGULO DE DESVIO (grados)</span><span class="result"> {{MAX_HOLD_ANGULO}}</span></div>
                            <div><span class="result--text">FIN DE LA CONTRUCCIÓN 1 TVD (pies)</span><span class="result">{{END_OF_BUILD_TVD_1}}</span></div>
                            <div><span class="result--text">FIN DE LA CONTRUCCIÓN 1 MD (pies)</span> <span class="result">{{END_OF_BUILD_MD}}</span></div>
                            <div><span class="result--text">DESPLAZAMIENTO HORIZONTAL 1 </span> <span class="result">{{END_OF_BUILD_DISPLACEMENT_1}}</span></div>
                            <div><span class="result--text">FIN DE LA CONTRUCCIÓN 2 MD (pies)</span><span class="result"> {{STAR_2ND_BUILD_MD}}</span></div>
                            <div><span class="result--text">DISTANCIA MEDIDA DE LA TUBERÍA AL OBJETIVO (pies)</span><span class="result">{{TOTAL_MEASURED_DEPTH}}</span></div>
                    </div>   
                </div>                        
                    
                </div>
             </div>
        </div>
    </body>
</html>