<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>TESIS BRAIAN</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    </head>
    <body>
        <div class="main">
             <div class="card">
                <a href="{% url 'restart' %}">
                    <img class='arrow-left' src="/static/image/arrow-left.svg">
                </a>
                <h1 class="card__title">CALING</h1>        
                <h2 class="card__description">Resultados de Trayectoria tipo Horizontal</h2>
                <div class="result__container">
                    <h2>PERDIDAS DE PRESION</h2>
                    <div class="grid-container">
                            <div>BUILD UP RATE 1: <span class="result">{{BUILDUP_RATE_1}}</span></div>
                            <div>BUILD UP RATE 2: <span class="result">{{BUILDUP_RATE_2}}</span></div>
                            <div>MAX HOLD ANGLE:<span class="result"> {{MAX_HOLD_ANGULO}}</span></div>
                            <div>EOB TVD1:<span class="result">{{END_OF_BUILD_TVD_1}}</span></div>
                            <div>EOB MD: <span class="result">{{END_OF_BUILD_MD}}</span></div>
                            <div>EOB DISPLACEMENT: <span class="result">{{END_OF_BUILD_DISPLACEMENT_1}}</span></div>
                            <div>START 2ND BUILD MD:<span class="result"> {{STAR_2ND_BUILD_MD}}</span></div>
                            <div>TOTAL MEASURED DEPTH:<span class="result">{{TOTAL_MEASURED_DEPTH}}</span></div>
                    </div>                           
                    <div>
                        {{ graph|safe }}
                      </div>  
    
                      <div>
                        {{graph2|safe}}
                      </div>
                </div>
             </div>
        </div>
    </body>
</html>