<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>TESIS BRAIAN</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    </head>
    <body>
        <div class="main">
             <div class="card">
                <a href="{% url 'restart' %}">
                    <img class='arrow-left' src="/static/image/arrow-left.svg">
                </a>
                <h1 class="card__title">CALDRILLING</h1>        
                <h2 class="card__description">Resultados de Cálculos Volumétricos</h2>
                <div class="result__container">
                    <div class="result__tanque">
                        <h2>SISTEMA DE SUPERFICIES</h2>
                        
                            <ul class="result__tanque-list">
                                <li><span class="result--text">CAPACIDAD  (bbl)</span> <span class="result">{{capacidad_ss_bbl}}</span></li>
                                <li><span class="result--text">VOLUMEN POR PIE (bbl)</span> <span class="result">{{volumen_ss}}</span></li>
                                <li><span class="result--text">VOLUMEN (bbl)</span> <span class="result">{{volumen_mud}}</span></li>
                            </ul>
                                               
                    </div>
                    <div class="result__tuberias">
                        <h2>VOLUMENES DE POZO</h2>
                        <ul class="result__volumen-list">
                            <li><span class="result--text">DESPLAZADO (bbl)</span> <span class="result">{{volumen_desplazado}}</span></li>
                            <li><span class="result--text">TUBERÍA DE PERFORACIÓN (bbl)</span> <span class="result">{{volumen_seccion_tp_total}}</span></li>
                            <li><span class="result--text">POZO SIN TP (bbl)</span> <span class="result">{{volumen_pozo}}</span></li>
                            <li><span class="result--text">ANULAR (bbl)</span> <span class="result">{{volumen_anular}}</span></li>
                        </ul>
                        <p class="result__extra "><span class="result--text">VOLUMEN TOTAL DEL SISTEMA (bbl)</span> <span class="result">{{volumen_total_sistema}}</span></p>
                    </div>

                </div>
             </div>
        </div>
    </body>
</html>