<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>TESIS BRAIAN</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    </head>
    <body>
        <div class="main">
             <div class="card">
                <a href="{% url 'restart' %}">
                    <img class='arrow-left' src="/static/image/arrow-left.svg">
                </a>
                <h1 class="card__title">CALDRILLING</h1>        
                <h2 class="card__description">Desea agregar datos para linear?</h2>
                <div class="button-container">
                    
                    <a href="{% url 'form-linear1' %}"><button  class='button' type="button" value="si">SI</button></a>
                    <a href="{% url 'form-openhole' %}"><button class='button' type="button" value="no">NO</button></a>
                    

                </div>
             </div>
        </div>
    </body>
</html>